body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #F4E7FB, #F3DCDC, #F5BCBA, #E3AADD, #C8A8E9, #C3C7F3);
    margin: 0;
    padding: 0;
    background-size: cover; /* Cover the entire page */
}

header {
    color: #fff;
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
}

nav a {
    color: #0f0c0c;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

h1, h2 {
    color: #100d0d; /* Changed to white for better visibility on the background image */
}

p {
    color: #090707; /* Changed to white for better visibility on the background image */
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}